@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Overpass", Sans-serif;
  font-size: 15px;
  background-color: hsl(216, 12%, 8%);
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

button {
  font-family: inherit;
}

.main-container,
.thank-you {
  max-width: 400px;
  background-color: hsl(213, 19%, 18%);
  padding: 25px;
  border-radius: 10px;
}

.main-container img {
  background-color: hsl(213, 19%, 18%);
  padding: 10px;
  border-radius: 50%;
}

.main-container h1 {
  color: white;
  margin: 2rem 0 1rem;
}

.main-container p {
  color: hsl(217, 12%, 63%);
  margin-bottom: 1rem;
}

.main-container ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.main-container ul li button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;
  background-color: hsl(216, 20%, 20%);
  color: white;
  cursor: pointer;
  transition: 0.4s;
}

.main-container ul li button:hover {
  background-color: hsl(25, 97%, 53%);
}

.main-container ul li button:focus {
  background-color: hsl(217, 12%, 63%);
}

.submit-btn {
  background-color: hsl(25, 97%, 53%);
  width: 100%;
  border: none;
  border-radius: 30px;
  padding: 0.5rem 0 0.5rem;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: 0.4s;
}

.submit-btn:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

.thank-you {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.thank-you img {
    display: block;
    margin: 0 auto 2rem;


}

.thank-you p.selection {
    background-color: hsl(213, 20%, 21%);
    color: hsl(25, 97%, 53%);
    border-radius: 30px;
    padding: 0.5rem 0.6rem 0.3rem;
    font-size: 0.75rem;
    margin-bottom: 1.5rem;
}

.thank-you h2 {
    color: white;
    margin-bottom: 0.8rem;

}

.thank-you p {
    color: hsl(217, 12%, 63%);
    margin-bottom: 1rem;
}

.hidden {
    display: none;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
  margin-top: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
